.game{
  margin-block: 10%;
}
.points span{
  color: greenyellow;
}
.game h1 {
  font-size: 2.5em;
  margin-block: 20px;
}

.points span {
  font-weight: bold;
}

.tip span {
  color: #ecfa00;
}

.wordContainer{
  margin: 1.5em;
  padding: 1.5em;
  border: 20px solid #ecfa00;
  display: flex;
}

.letter, .blankSquare{
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid black;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: white;
  color: black;
  font-weight: bold;
}
.letterContainer{
  margin-bottom: 15px;
}

.letterContainer form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
}

.letterContainer label{
  font-size: 20px;
  margin-bottom: 1.2em;
  width: 100%;
}

.letterContainer input{
  height: 50px;
  width: 50px;
  flex-shrink: 1;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  margin-right: 1em;
}

.wrongLettersContainer{
  text-align: center;
}
.wrongLettersContainer p{
  margin-bottom: 10px;
  font-size: 20px;
}
.wrongLettersContainer span{
  font-size: 20px;
  margin: 15px;
  color: tomato;
  text-transform: uppercase;
}