.my-title{
  color: greenyellow;
  background-color: rgb(105, 90, 90);
  margin-block: 15px;
}

.my_title{
  color: greenyellow;
  background-color: rgb(105, 90, 90);
  margin-block: 15px;
}

.p_for_paragraph{
  padding-left: 10px;
}