*{
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: aliceblue;
  align-items: left;
  font-size: 26px;
  line-height: 26px;
  /* padding: 5% 0 0 5%; */
  display: flex;
  flex-direction: column;
}

.App hr{
  margin-block: 15px;
}