*{
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.App__header{
  width: 100%;
  background-color: #525864;
}

.teste{
  font-size: smaller;
  color: aquamarine;
}