*{
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: aliceblue;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.App__header{
  
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #525864;
}
