body{
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  padding-bottom: 20%;
}

h2{
  color: red;
}

.red-title{
  color: tomato;
  background-color: brown;
  margin-top: 15px;
}
.green-title{
  color: yellowgreen;
  background-color: green;
  margin-top: 15px;
}