:root{
  --color-main-orange: rgb(250, 118, 70);
  --color-main-hover-orange: orangered;

  --fs-h1: 2.5em;
  --fs-p: 0.9em;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background: linear-gradient(to bottom, #282c34, #373c4b);
}

button{
  background-color: var(--color-main-orange);
  color: white;
  border: 2px solid white;
  border-radius: 800px;
  padding: 13px 35px;
  font-weight: 1.2em;
  font-size: 1.7rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}
button:hover{
  background-color: var(--color-main-hover-orange);
}